body {

    height: 100vh; 
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
}

p {
    text-align: center;
}



.post {
    width: 600px;
    height: 200px;
    background-color: pink;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#postss{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
}




.posts {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #67f36e;
    border: 1px solid #ced4da;
    border-radius: 8px;
    width: 400px; 
    padding: 20px; 
    margin: 20px auto; 
  }
  
 
  .posts h1 {
    font-size: 24px; 
    color: #343a40; 
    margin-bottom: 15px; 
  }
  
  
  .posts p {
    font-size: 16px; 
    color: #495057; 
    margin-bottom: 10px; 
    text-align: center; 
  }
  
  .posts a {
    margin-top: 20px; 
    font-size: 14px; 
    color: #007bff; 
    text-decoration: none; 
  }
  
  
